{{! Description: Products view }}  
<div class="container">
    <div class="row" id="productCards">
        {{#each payload}}
            <div class="card" style="width: 18rem; margin: 1rem">
                <img src="{{thumbnails}}" class="card-img-top" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{tdescription}}</p>
                </div>
                <div style="display: flex; justify-content: space-between">
                    <div><b>${{price}}</b></div>
                    <button class="btn btn-primary">Comprar</button>
                </div>


            </div>
        {{/each}}
    </div>
    <div class="pagination">
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Previous</a>
        {{/if}}
        <span>Page {{page}} of {{totalPages}}</span>
        {{#if hasNextPage}}
            <a href="{{nextLink}}">Next</a>
        {{/if}}
    </div>
</div>
